@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

/*--- HEADER ---*/
.div-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 213px;
  margin-top: auto;
  margin-bottom: 20px;
  background-color: #171a4a;
}

.img-header{
  height: 210px;
  width: 210px;
}

.redes-section {
  margin-bottom: 2;
}


/*--- CONTACT ---*/
.div-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div-container-contact{
  margin-right: 30px;
}
