@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

.App {
	text-align: center;
}

/*--- HEADER ---*/
.div-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 113px;
	margin-top: -45px;
	margin-bottom: 0px;
	background-color: #171a4a;
}

.img-header {
	height: 100px;
	width: 100px;
}

.redes-section {
	margin-bottom: 2;
}

/*--- CONTACT ---*/
.div-contacto {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.div-container-contact {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

/*--- CARDS ---*/
.cards {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.card-item {
	display: flex;
	padding: 1rem;
}

/*--- ABOUT CARDS --- */
.cards-personajes {
	display: flex;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
}

