@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

/*--- HEADER ---*/
.div-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 213px;
  margin-top: auto;
  margin-bottom: 20px;
  background-color: #171a4a;
}

.img-header{
  height: 210px;
  width: 210px;
}

.redes-section {
  margin-bottom: 2;
}

/*--- HOME ---*/
.custom-shape-divider-top-1665611793 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1665611793 svg {
  position: relative;
  display: block;
  width: calc(202% + 1.3px);
  height: 195px;
}

.custom-shape-divider-top-1665611793 .shape-fill {
  fill: #F30F0F;
}

/*--- CONTACT ---*/
.div-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div-container-contact{
  margin-right: 30px;
}


/*--- CARDS ---*/
.cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-item {
  display: flex;
  padding: 1rem;
}

.card-footer {
  background-color: #21a500 !important;
  height: 100%;
  border-radius: 15px;
}


/*--- ABOUT CARDS --- */
.cards-personajes{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}